{% extends "base.html" %}

{% block canonical %}
    <link rel="canonical" href="{{SITEURL}}">    
{% endblock %}

{% block header %}
    <div id="nav-menu">
        <ul class="nav-list">            
            {% if pages%} 
                {% for i in pages %}
                    <li>
                        <a href="{{SITEURL}}/{{i.slug}}" class="text-02 text-color-graydark">{{ i.title }}</a>
                    </li>
                {% endfor %}
            {% endif%}
        </ul>    
    </div>
{% endblock header %}

{% block content %}
{% endblock content %}