{% extends "base.html" %}

{% block title %}
    {{ SITENAME }} {% if page %} - {{page.title}} {% else %} Página no encontrada {% endif %}
{% endblock title %}

{% block canonical %}
 {% if page %}
    <link rel="canonical" href="{{SITEURL}}/{{page.slug}}"> 
 {% endif %}
    
{% endblock %}

{% block header %} 
    {% if page %}
        <div id="nav-menu">
            <ul class="nav-list">
                <li><a href="/" class="text-01 text-color-graydark">
                    Volver
                </a></li>
            </ul>
            <a href="{{SITEURL}}/cat/{{page.slug}}.html">{{ page.category }}</a>
            <p>
                {{page.name}}
            </p>
        </div>
    {% else %}
        <h1 class="title-01 text-color-graydark">Página no encontrada</h1>
    {% endif %}
{% endblock header%}

{% block content %}
    {% if page %}
    <section class="article-hero">
        <div class="center">
          <figure>
            <amp-img alt="image"
              src="{{page.product_img_1}}"
              width="1078"
              height="560"
              layout="responsive">
            </amp-img>
          </figure>
        </div>
      </section>
    <section class="article-main-text">
        <h1 class="title-01 text-color-graydark">{{ page.h1 }}</h1>
        <p class="lead text-02 text-color-graydark">{{ page.body_text }}</p>
    </section>
    <section class="right">
        {# Se crea un bucle con un rango que acaba en GRID_NUMBER acorde a lo que se expecifica en el Pelicanconf.py#}
        {% set rango = range(1,GRID_NUMBER) %}    
        {% for i in range(1,GRID_NUMBER) %}
            {# Se crean variables para leer de una page los productos vasados en el indice dentro del rango #}
            {% set product_img = 'product_img_{}'.format(i) %}
            {% set product_title = 'product_title_{}'.format(i) %}
            {% set product_link = 'product_link_{}'.format(i) %}
            {% set product_valid = ( page[product_img] and page[product_title] and page[product_link] ) %}
            {# Se comprueba que el producto existe y es diferente de 'nan' #}
            {% if product_valid is defined and product_valid!= 'nan' %}
            <article class="category small graylight">             
                <amp-img alt="{{page[product_title]}}" src="{{ page[product_img] }}" width="100" height="110" layout="responsive"></amp-img>
               
                <div class="caption-category">
                    <p class="title-05 text-color-white">{{ page[product_title] }} </p>
                    <a href="{{ page[product_link] }}" class="link link02"> Ver Más </a>
                  </div>
            </article>
            {% endif %}
        {% endfor %}
    </section>
    <section class="faq-home graylight">
        <div class="center">
            <h3 class="title-03 text-color-graydark"> {{ page.faq_title}} </h3>
            <hr>
            <section>
                <amp-accordion animate expand-single-section>
                    {% for fq in rango %}
                        {% set faq_q = "faq_q_{}".format(fq)%}
                        {% set faq_a = "faq_a_{}".format(fq)%}
                        {% if ( page[faq_q] and page[faq_a] ) is defined %}
                        <section>
                            <h4 class="title-04 text-color-graydark">{{ page[faq_q] }}</h3>
                            <div class="">
                                <p class="text-02">{{ page[faq_a] }} </p>
                            </div>
                        </section>                    
                        {% endif %}    
                    {% endfor %}
                </amp-accordion>
            </section>
        </div>
    </section>
    <section class="last-article graylight">
        <h2 class="title-02 text-color-graydark"> {{ page.title_cta }} </h2>
        <div class="center">
            <div>
                {% for m in rango %}
                    {% set text = "text_link_{}".format(m) %}
                    {% set menu = "menu_link_{}".format(m) %}
                    {% if ( page[text] and page[menu] ) is defined  %}
                    <article class="article">
                        <div class="box graylight">
                            <h3 class="title-03 text-color-graydark">{{ page[text] }} <a class="link link01 text-02" href="{{ page[menu] }}">Leer Más</a></h3>
                            
                        </div>
                    </article>
                    {% endif %}    
                    
                {% endfor %}
            </div>
            <div >
                <p class="text-02">{{ page.description_cta }}</p>                
                <a class="button cta01 text-02" href="{{ page.description_cta_btn_link }}">{{ page.description_cta_btn }}</a>
            </div>            
        </div>
    </section>

    <section class="info-text-02 graylight">
        <div class="center">
            {% for i in rango[:3] %}
            {% set product_img = 'product_img_{}'.format(i) %}
            {% set product_title = 'product_title_{}'.format(i) %}
            {% set product_link = 'product_link_{}'.format(i) %}
            {% set product_valid = ( page[product_img] and page[product_title] and page[product_link] ) %}
            {% if product_valid is defined and product_valid!= 'nan' %} 
                <article class="info">
                    <h5 class="title-05"> {{page[product_title]}} </h5>
                    <amp-img alt="image" src="{{ page[product_img] }}" width="528" height="521" layout="responsive"></amp-img>
                    <a class="link link01 text-02" href="{{page[product_link]}}">Ver en la Página</a>
                </article>
            {% endif %}
            {% endfor %}
        </div>
    </section>

    <section class="text-03">
        <div>
        {% if pages %}
        <ul style="list-style-type: none">
        {% for item in pages[:4] %}
        {%if item != page %}
            <li><a href="{{SITEURL}}/pages/{{item.slug}}.html" class="link link01">{{item.title}}</a></li>
        {% endif %}
        {% endfor %}
        {% endif %}
        </ul>
        </div>
    </section>

    <script type="application/ld+json">
        {
        "@context": "https://schema.org",
        "@type": "FAQPage",
        {% for fq in range(1,4) %}
        {% set faq_q = "faq_q_{}".format(fq) %}
        {% set faq_a = "faq_a_{}".format(fq) %}
        {% if ( page[faq_q] and page[faq_a] ) is defined %}
        "mainEntity": [{
            "@type": "Question",
            "name": "{{ page[faq_q] }}",
            "acceptedAnswer": {
            "@type": "Answer",
            "text": "{{ page[faq_a] }}"
            }
        },
        {% endif %}
        {% endfor %}
        ]}
    </script>
    {% endif %}
{% endblock %}